VITE_SUPABASE_URL=https://jqywitbdhmompmhpvwor.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_ieopW658NHn1WKMToHFCxQ_769egO_y
VITE_DEMO_SHOP_ID=d81d3994-1719-4940-8e6d-62606aa5c8ad
VITE_API_URL=http://localhost:8787
